body {
}

table {
    border-spacing: 0px;
    border:1px solid black;

}

td, th, tr {
    border:1px solid black;
}

div{
    border:2px solid black;
    margin:2em;
}

section, header, nav {
    margin:2em;
}