body {
    background-color:#9fc8f5;
    font-size:1.3em;
    font-family: Arial,Verdana;
    color:#0a184e;
}

nav {
    
    padding-bottom: 2em;
    list-style:none;
    margin:0;
    text-align:center;

}

a.right{
    position:fixed;
    right:1em;
}

a.left{
    position:fixed;
    left:1em;
}

h1 {
    font-style:italic;
    
}

dt {
    font-style:italic;
}

dl {
    line-height: 1.7em;
}

section.Info {
    font-style:italic;
}

